[submodule "projects/test-workflow-hub"]
	path = projects/test-workflow-hub
	url = https://github.com/ChavesVini/test-workflow-hub.git
[submodule "projects/autoflex"]
	path = projects/autoflex
	url = https://github.com/ChavesVini/autoflex.git
[submodule "projects/Bertoti"]
	path = projects/Bertoti
	url = https://github.com/ChavesVini/Bertoti.git
[submodule "projects/ChavesVini"]
	path = projects/ChavesVini
	url = https://github.com/ChavesVini/ChavesVini.git
[submodule "projects/Jogo-do-numero-secreto"]
	path = projects/Jogo-do-numero-secreto
	url = https://github.com/ChavesVini/Jogo-do-numero-secreto.git
