[submodule "projects/autoflex"]
	path = projects/autoflex
	url = https://github.com/ChavesVini/autoflex.git
[submodule "projects/random-password-generator"]
	path = projects/random-password-generator
	url = https://github.com/ChavesVini/random-password-generator.git
[submodule "projects/simple-online-store"]
	path = projects/simple-online-store
	url = https://github.com/ChavesVini/simple-online-store.git
[submodule "projects/sql-generator"]
	path = projects/sql-generator
	url = https://github.com/ChavesVini/sql-generator.git
